<div class="p-2 @CSS">
    @Message
</div>

@code {

    public bool ShowMessageBox { get; set; }
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string CSS { get; set; }

    public void Show()
    {
        ShowMessageBox = true;
        StateHasChanged();


    }
    public void Hide()
    {
        ShowMessageBox = false;
    }
}
