@page "/login"
@using Microsoft.AspNetCore.Components.Forms
<h3>Login</h3>
@if (ShowMessage)
{
    <div class="bg-danger text-white p-2">
        @Message
    </div>
}

<EditForm action="cookies/login"
          method="post"
          id="loginform"
          Model="@Model"
          OnValidSubmit="HandelValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <label>Email</label>
        <InputText @bind-Value="Model.Email" class="form-control" name="email" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText @bind-Value="Model.Password" class="form-control" name="password" />
    </div>
    <input type="submit" value="Login" class="btn btn-primary" />
</EditForm>
